:root {
    --foreground: #8BADC1;
    --background: #001122;
    --background-notes: hsl(207deg, 95%, 8%);
    --accent: #102a44;
    --anchor: var(--accent);
    --background-header: #000000;
}

.theme--nightowl {
    --foreground: #8BADC1;
    --background: #001122;
    --background-notes: hsl(207deg, 95%, 8%);
    --accent: #102a44;
    --anchor: #5f7e97;
}

.theme--dracula {
    --background: #282a36;
    --background-notes: #44475a;
    --foreground: #f8f8f2;
    --accent: #ff79c6;
}

.theme--nord {
    --background: #2e3440;
    --background-notes: #434c5e;
    --foreground: #e5e9f0;
    --accent: #d08770;
}

.theme--gruvbox {
    --background: #282828;
    --background-notes: #7c6f64;
    --foreground: #ebddb2;
    --accent: #d79921;
}

.theme--solarised-dark {
    --background: #002b36;
    --background-notes: #073642;
    --foreground: #f8f8f2;
    --accent: #859900;
}